.regular-content {
  font-size: 18px;

  p { margin: 0 0 1em }

  h1, h2 {
    margin-bottom: 20px;
  }

  ul, ol {
    margin-left: 50px;
    margin-bottom: 1em;
  }
}

.event_description-contents {
  p { margin: 0 0 1em }
}
