html, body {
  height: 100%;
}

.regular-content {
  margin: 0 auto;
  max-width: 940px;
  padding: 50px 10px;

  h1, h2, h3 {
    margin: 20px 0 20px 0;
  }

  ul, ol {
    margin-left: 50px;
    margin-bottom: 1em;
  }
}
