.global_nav {
  @extend %clearfix;
  position: relative;
  min-height: 35px;
  padding: 20px 0 15px 15px;
  background: $nav-bg-color;
}

.global_nav-logo {
  display: block;
  float: left;
  width: 105px;
  height: 34px;
  overflow: hidden;
  text-indent: -9999px;
  background: image-url('logo-small.png') no-repeat;
  background-size: 100% 100%;
}

.global_nav-links {
  float: right;
  position: relative;
  padding: 10px 165px 12px 0;
  font: normal bold 93%/1 $sans-font;
  text-transform: uppercase;

  a {
    color: $nav-text-color;
    letter-spacing: 1px;

    &:hover {
      color: $link-active-color;
    }
  }

  .is-active a {
    border-bottom: 1px solid;
  }
}

.global_nav-link {
  display: inline-block;
  padding: 0 23px;
  position: relative;

  &:after {
    @extend %absolute-pseudo;
    left: -1px;
    top: 0;
    bottom: 0;
    border-left: 2px solid $link-active-color;
    transform: rotate(20deg) translate(-2px, 0);
  }

  &:first-child:after,
  &.global_nav-register_link:after {
    display: none;
  }
}

.global_nav-register_link {
  display: block;
  width: 165px;
  height: 70px;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 0;

  a {
    display: block;
    height: 40px;
    padding: 30px 25px 0 0;
    background: image-url('nav-register-link-bg.png') 0 -70px no-repeat;
    text-align: right;

    &:hover { background-position: 0 0 }
  }
}
