$sans-font: Roboto, Myriad Pro, Helvetica Neue, Helvetica, sans-serif;
$serif-font: Georgia, Times, Times New Roman, serif;

$text-color: #3b3b3b;
$bg-color: #fff;

$link-color: #e62044;
$link-visited-color: #e62044;
$link-active-color: #e62044;

$welcome-text-color: #fbfbfb;
$beatiful-text-color: #e62044;
$nav-bg-color: #333135;
$nav-text-color: #fff;

$btn-color: #323034
