meta name="og:title" content="RJC 2014"
meta name="og:url" content="http://rjc2014.ru"
meta name="og:image" content="#{image_url("convention.jpg")}"
meta name="og:site_name" content="RJC 2014"
meta name="og:description" content="Российская Жонглерская Конвенция, 22-25 мая 2014"
