h1 Привет, #{@first_name}!

p Для завершения регистрации на RJC 2014 вам необходимо пройти по ссылке ниже и
  заполнить анкету участника:

a href="#{@link_to_form}"
  | Анкета участника

p Пожалуйста, обратите внимание на последний пункт. Нам нужна помощь волонтеров.
p Если вы хотите помочь, то пишите "да". После чего вам придет письмо, где будут расписаны уже имеющиеся задачи, из которых можно выбирать.
p Мы скажем вам огромное человеческое спасибо за участие и, конечно же, не оставим без всяческих плюшек =)

hr
strong Команда организаторов RJC 2014.
