.beautiful_cover
  h2.beautiful_cover-title #RJC2014
  p.beautiful_cover-subtitle Москва 2014

.regular-content
  p
    | The EJC 2014 Ireland team has won their bid to host the largest annual circus skills event
      in the world - the European Juggling Convention (EJC). The 37th EJC will be held in Ireland
      from the 19th to the 27th July 2014. The event will be held at the Green Glens Arena in
      the village of Millstreet, Co. Cork. The event is being run by a not-for-profit organisation.

  p
    | The European Juggling Convention is a week-long event welcoming jugglers and circus artists
      from all over the world. This proposal to host the EJC in Ireland in 2014 was submitted to
      the board of the European Juggling Association for presentation for vote at 2011 EJC in
      Munich, Germany. The Irish EJC proposal secured the event for Ireland.

  p
    | The very first EJC was held in 1978 in Brighton, UK hosting just 11 attendees.
      The largest recorded attendance at an EJC was in 2011, Munich, Germany with 7200 attendees
      enjoying the week-long convention. Ireland has a significant and rapidly growing community of
      enthusiastic jugglers. The first juggling convention in Ireland was held in 1999 with
      a group of 30 jugglers from the Republic and Northern Ireland. Today there are up to
      7 conventions held each year in Dublin, Belfast, Tralee, Galway, Clonakilty, Tullamore and Birr
      which host up to 300 attendees. Ireland hosted the 29th EJC in 2006 garnering 2252 jugglers and
      circus artists. The average attendance at an EJC is 1975 attendees.
