.event_meta {
  float: left;
  width: 146px;
  padding: 4px 30px 70px;
  text-align: center;
  border-right: 2px solid $dark;
}

.event_performer-image, .event_place-image {
  width: 146px;
  height: 146px;
  overflow: hidden;
  margin: 0 auto 10px;
  border-radius: 150px;
  background: #d3d3d3;
}

.event_performer-name, .event_place-name {
  font: normal bold 15px/1.2 $sans-font;
  text-transform: uppercase;
  color: $bright;
}

.event_performer-title {
  font-size: 11px;
  margin: 0 0 5px;
}

.event_performer-social {
  position: relative;
  padding: 10px 0 0 4px;

  &:before {
    @extend %absolute-pseudo;
    width: 14px;
    height: 2px;
    top: 0;
    left: 50%;
    margin-left: -7px;
    background: $dark;
  }
}
