.event_next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 265px;
  height: 100%;
}

.event_next_link {
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
  background: image-url('event-next-bg.png') right bottom no-repeat;

  &:link, &:visited, &:hover {
    color: $light;
  }

  &:hover {
    background-image: image-url('event-next-active-bg.png');
    .event_next_date-month i {
      background: $bright;
    }
  }
}

.event_next_date {
  position: absolute;
  bottom: 130px;
  right: 30px;
}

.event_next_date-wrap {
  width: 146px;
}

.event_next_date-month i {
  color: $light;
  background: $dark;
}
