.event {
  @extend %clearfix;
  padding: 70px 0 0;
}

.event_meta {
  float: left;
  width: 206px;
  border-right: 2px solid $btn-color;
}

.event_description {
  margin-left: 228px;
  margin-right: 266px;
}

.event-title {
  font: normal bold 36px/1.2 $sans-font;
  text-transform: uppercase;
  color: $link-active-color;
}

.event-location {
  padding-left: 11px;
  @include hidpi-inline('location-icon.png');
  background-position: left center;

  &:link, &:visited {
    color: $text-color;
  }

  &:hover {
    color: $link-active-color;
    @include hidpi-inline('location-icon-active.png');
    background-position: left center;
  }
}


.event_description-contents {
  position: relative;
  margin: 20px 0 0;
  padding: 20px 0 0;

  &:before {
    content: '';
    display: block;
    width: 21px;
    height: 3px;
    position: absolute;
    top: 0;
    background: $link-active-color;
  }
}
