.signup {
  display: none;
}

%signup-fieldset {
  margin: 0 0 22px;
}

.signup-primary {
  @extend %signup-fieldset;

  input {
    width: 180px;
    margin: 0 0 0 10px;

    &:first-child { margin: 0 }
  }
}

.signup-email, .signup-phone {
  @extend %signup-fieldset;

  input {
    width: 396px;
  }
}

// webkit has its own opinion on which width `select` should have
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .signup-role select { width: 343px }
}

.signup-submit {
  width: 396px;
}

p.error-presence, p.error-email-format {
  margin-bottom: 20px;
  display: none;
}
