.signup {
  display: none;
}

%signup-fieldset {
  margin: 0 0 22px;
}

.signup-primary {
  @extend %signup-fieldset;

  input {
    width: 180px;
    margin: 0 0 0 10px;

    &:first-child { margin: 0 }
  }
}

.signup-address {
  @extend %signup-fieldset;

  input {
    width: 396px;
  }
}

.signup-role {
  @extend %signup-fieldset;
  @extend %clearfix;

  label {
    float: left;
    padding: 12px 0 0 13px;
  }

  select {
    width: 356px;
    float: right;
  }
}

// webkit has its own opinion on which width `select` should have
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .signup-role select { width: 343px }
}

.signup-submit {
  width: 396px;
}
