.team {
  list-style: none outside;
  padding: 60px 0 0;
  margin: 0!important;
}

.team_member {
  @extend %clearfix;
  padding: 0 0 86px;
}

.team_member-image {
  float: left;
  width: 210px;
  height: 210px;
  margin: 0 25px 0 0;
  border-radius: 220px;
  background: #d3d3d3;
}

.team_member-info {
  margin: 12px 0 0 240px;
  font-size: 14px;
}

.team_member-name {
  font: normal bold 30px/42px $sans-font;
  text-transform: uppercase;
  color: $bright;
}

.team_member-social {
  margin: 8px 0;
}
