.welcome-container {
  min-height: 100%;
  position: relative;
  background: #5a3c33 image-url('cover-bg.jpg') center center no-repeat;
  background-size: cover;
}

.welcome {
  max-width: 650px;
  margin: 0 auto;
  padding: 11% 1em 0;
  color: $welcome-text-color;
  text-align: center;
}

.welcome-logo {
  width: 126px;
  height: 41px;
  overflow: hidden;
  margin: 0 auto;
  text-indent: -9999px;
  background: image-url('logo.png') no-repeat;
  background-size: 100% 100%;
}

.welcome-brand {
  position: relative;
  padding: 5px 0 18px;
  font: normal bold 42px/1.25 $sans-font;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:after {
    @extend %absolute-pseudo;
    width: 26px;
    height: 3px;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
    background: $welcome-text-color;
  }
}

.welcome-description {
  max-width: 390px;
  margin: 0 auto;
  padding: 13px 0 44px;
  letter-spacing: 1px;
}

.welcome-learn_more {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
  margin: 0 auto;
  border: 3px solid $welcome-text-color;
  border-radius: 40px;
  transition: background-color, 0.4s;

  i {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -14px 0 0 -10px;
    border: 3px solid $welcome-text-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: background-color, 0.4s;
  }

  &:hover {
    background: $welcome-text-color;

    i {
      border-color: $link-active-color;
    }
  }
}

.welcome-countdown {
  padding: 150px 0 5px;
  text-align: center;
  font: normal bold 15px/1 $sans-font;
  text-transform: uppercase;
  color: $light;
  letter-spacing: 1px;

  .countdown-section {
    display: inline-block;
    margin: 0 12px;
    font: normal normal 11px/1 $sans-font;

    &:first-child .countdown-amount:before { display: none }
  }

  .countdown-amount {
    position: relative;
    font-size: 55px;

    &:before {
      @extend %absolute-pseudo;
      @include hidpi-inline('colon.png');
      left: -15px;
      top: 50%;
      margin-top: -10px;
    }
  }

  .countdown-period {
    display: block;
    font-size: 11px;
    text-align: center;
    text-transform: lowercase;
  }
}
